body{
    background-color: blanchedalmond;
}
.container{
        margin-top: 20%;
        margin-left: 23%;
        margin-right: 35%;
        display: flex;
}
.grid-container{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
    background-color: black;
    border-radius: 20px;
    justify-content: center;
    padding: 20px;
    gap: 10px;

}
button{
    background-color: #4e4e50;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    box-shadow: white;
    color: white;
    border: none;
}
button:hover{
    background-color: orange;
}
.item12, .item36 {
    grid-column-start: 12;
    grid-column-end: 15;
    width: auto;
    border-radius: 20px;
    background-color: orange;
    color: black;
}
.item36{
    background-color: #c2083f;
    border: none;
}
.item13 , .item26 , .item37{
    grid-column-start: 1;
    grid-column-end: 3;
    width: auto;
    border-radius: 20px;
    background-color: white;
    color: black;
}

.item48{
    grid-column-start: 13;
    grid-column-end: 15;
    width: auto;
    border-radius: 20px;
    background-color: white;
    color: black;
    
}
.item52{
    grid-column-start: 5;
    grid-column-end: 10;
    width: auto;
    border-radius: 20px;
    background-color: white;
    color: black;
}
